.root{
    margin: 0%;
    padding: 0;
    
}
.card{
    width: 100%;
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
       grid-template-areas:
       
       "card_img card_name"
       "card_img card__stars "
    "card_img card_info"
    "card_img card_link"
    "card_more card_more";
     /* "card_img"; */
    grid-template-columns:40% 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0rem;
    border-top:2px solid black;
    border-bottom:2px solid black;
    background-color:rgba(204, 204, 204, 0.3);
}
.card_left{
    width: 100%;
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
       grid-template-areas: 
    "card_name card_img "
    "card__stars card_img"
    "card_info card_img "
    " card_link card_img"
    "card_more card_more";
     /* "card_img"; */
    grid-template-columns: 1fr 40%;
    grid-template-rows: auto auto auto auto auto;
    gap: 0rem;
    border-top:2px solid black;
    border-bottom:2px solid black;
    background-color:rgba(204, 204, 204, 0.6);
    text-align: right;
}
.card_left .card__name,.card__info, .card__link, .card__stars{
    padding-right: 50px;
}


.card__img{
    grid-area:card_img;
    width: 95%;
    margin:10px;
    height:auto;
    
    display: block;
    
    /* overflow: hidden; */
}
.card__img img{
    width: 100%;
    height: auto;
    display:block ;
    border: 5px solid rgb(46, 44, 44);
    border-radius: 10px;
}
.supermens{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card__name{
    grid-area: card_name;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #000000;
padding-top: 50px;
padding-left: 50px;
height: auto;
}
.card__info {
grid-area:card_info; 
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
color: #000000;
padding-top: 20px;
padding-left: 50px;
}
.card__link a{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height */

text-decoration-line: underline
color: #000000;
padding-top: 20px;
padding-left: 50px;
}
.card__more{
  display:none;
  grid-area:card_more; 

}
.card__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: #000000;
    padding-top: 20px;
    padding-left: 50px;
    text-align: center;
}
.card__alterego{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
text-align: center;
letter-spacing: 0.6px;
color: #000000;
}
.card__friends{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 22px;
text-align: center;

color: #000000;
}
.card__stars{
    grid-area:card__stars;
    padding-top: 10px;
    padding-left: 50px;
}
.icon {
    /* goldenrod */
    fill: black ;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3px;
    left: 1px;
  }
  .container__label {
    position: relative;
  }
  .container {
    width: 200px;
    height: auto;
    display: flex;
   align-content: end;
   
  }
  .card_left .root{display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: flex-end;}
  
  .container__input {
    /* display: none; */
    position: relative;
    opacity: 0;
    z-index: 1;
  }